<%= stylesheet_link_tag "navbar.css" %>

<ul>
<li><a><%= link_to 'Home', root_path %></a></li><li><a><%= link_to 'About', about_path %><a></li><li><a><%= link_to 'Post-its', notes_path %><a></li>
</ul> 